.strength-section {
    height: 10px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.yellow {
    background-color: yellow;
}
.gray-medium {
    background-color: gray;
}
.red,
.red-simple {
    background-color: red;
}


.gray,
.gray-simple {
    background-color: gray;
}

.green {
    background-color: green;
}