<div class="strength-section" [ngClass]="{
    'gray': service['isEmpty'](passwordControl.value),
    'red': service['isWeak'](passwordControl.value),
    'red-simple': service['isSimple'](passwordControl.value),
    'yellow': service['isMedium'](passwordControl.value),
    'green': service['isStrong'](passwordControl.value)
  }">
</div>
<div class="strength-section" [ngClass]="{
    'gray': service['isEmpty'](passwordControl.value),
    'red': service['isWeak'](passwordControl.value),
    'gray-simple': service['isSimple'](passwordControl.value),
    'yellow': service['isMedium'](passwordControl.value),
    'green': service['isStrong'](passwordControl.value)
  }">
</div>
<div class="strength-section" [ngClass]="{
    'gray': service['isEmpty'](passwordControl.value),
    'gray-simple': service['isSimple'](passwordControl.value),
    'gray-medium': service['isMedium'](passwordControl.value),
    'red': service['isWeak'](passwordControl.value),
    'green': service['isStrong'](passwordControl.value)
  }">
</div>